* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #25044b;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.container {
  margin-top: 20rem;
  background: #b8ad1d;
  padding: 8rem;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #ffde0080, 0 0 0 40px #ffde0040, 0 0 0 60px #ffde0020,
    0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000, 0 0 40px 100px #ffde0010;
  animation: sunrise 3.5s infinite linear forwards, rays 3s 3s infinite linear;
}
@keyframes sunrise {
  0% {
    box-shadow: none;
  }
}
@keyframes rays {
  0% {
    box-shadow: 0 0 0 0px #ffde0080, 0 0 0 20px #ffde0040, 0 0 0 40px #ffde0020,
      0 0 0 60px #ffde0010, 0 0 0 80px #ffde0000, 0 0 40px 100px #ffde0010;
  }
  100% {
    box-shadow: 0 0 0 20px #ffde0080, 0 0 0 40px #ffde0040, 0 0 0 60px #ffde0020,
      0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000, 0 0 40px 100px #ffde0010;
  }
}
